<div class="flex flex-col w-full max-w-3xl gap-2 px-3 py-5 mx-auto mb-1 border-2 border-black">
  <div class="flex justify-between">
    <h4 class="card-title"><%= @post.title %> by <%= @post.author.name %></h4>
    <div class="flex self-end text-xs">
      <p class="m-0">Comments: <%= @post.comments_counter %>,&nbsp;</p>
      <p class="m-0">Likes: <%= @post.likes_counter %></p>
    </div>
  </div>
  <p class="mt-2"><%= @post.text %></p>
</div>

<div class="flex justify-center align-center gap-4">
  <% if user_signed_in? %>
      <a href="/users/<%= @user.id %>/posts/<%= @post.id %>/comments/new" class="px-4 py-2 border-2 border-black cursor:pointer mb-8">Create a new Comment</a>
  <%= render 'shared/add_like' %>
  <% else %>
    <p>Please, sign in to create a comment or like the post</p>
  <% end %>
</div>

<%= render 'shared/comment_card', comments: @post.comments.includes(:author) unless @post.comments.empty? %>
